################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyWork.Core/obj/Debug
/.vs
/MyWork.Model/obj/Debug
/MyWork.Model/T4Template/ApiControllerTemplate.cs
/MyWork.Model/T4Template/IRepositoryTemplate.cs
/MyWork.Model/T4Template/ModelHelper.cs
/MyWork.Model/T4Template/ModelPersistentTestTemplate.cs
/MyWork.Model/T4Template/RepositoryTemplate.cs
*.user
/MyWork.Model.UnitTest/obj/Debug
/MyWork.Web/obj/Debug
/packages
/MyWork.Repository/obj/Debug
/MyWork.Repository.UnitTest/obj/Debug
/MyWork.Web/bin
/MyWork.WebAPI/bin
/MyWork.WebAPI/obj/Debug
/MyWork.Core/bin/Debug
/MyWork.Model/bin/Debug
/MyWork.Model.UnitTest/bin/Debug
/MyWork.Repository/bin/Debug
/MyWork.Repository.UnitTest/bin/Debug
/MyWork.CommonService/bin/Debug
/MyWork.CommonService/obj/Debug
/MyWork.CommonService.UnitTest/bin/Debug
/MyWork.CommonService.UnitTest/obj/Debug
/MyWork.Core.UnitTest/obj/Debug
/MyWork.Service.RestClient/obj/Debug
